* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #41da6d;
  font-family: "Krub", sans-serif;
}
.header {
  padding-top: 60px;
  display: flex;
  justify-content: center;
}
.header-text {
  color: aliceblue;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgb(255, 21, 255);
  text-transform: uppercase;
}
.wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 95%;
  height: 540px;
  margin: auto;
  perspective: 2000px;
}
.card {
  width: calc(25% - 10px);
  height: calc(25.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #b9f05c;
  backface-visibility: hidden;
  border: none;
}
.back {
  padding: 0;
  width: 100%;
}
.front {
  transform: rotateY(180deg);
  width: 50%;
}
.control {
  display: flex;
  justify-content: center;
}

.btn {
  font-size: 20px;
}
.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover:focus {
  outline: none;
}
.btn-hover.color {
  background-image: linear-gradient(
    to right,
    #29323c,
    #83b2e6,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.couter-wrap {
  padding-left: 40px;
  padding-right: 40px;
}
.couter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.couter-time {
  font-size: 30px;
  font-weight: 800;
}
