.card {
    width: 60%;
    margin: 0 auto;
    border: 1px solid silver;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
    list-style: none;
    background: #ffcfcf;
}

.card li:not(:last-child) {
    margin-bottom: 10px;
    text-align: justify;
}

.card-img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 30%;
}

.wrap-btn {
    text-align: center;
}

.card-btn {
    width: 200px;
    border: 1px solid silver;
    background-color: #fff;
}

.card-btn:hover {
    border: 1px solid black;
}
