body {
    font-family: 'Mali', cursive;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
}
.all-users,
.add-user,
.remove-user,
.udate-user {
    margin-bottom: 30px;
}
.button {
    background: none;
    padding: 5px 20px;
    background-color: aquamarine;
    border: 2px solid #000000;
    font-family: 'Mali', cursive;
    font-size: 15px;

}
.result-all-users {
    display: none;
    margin-top: 20px;
    width: 41%;
}
.list-row {
    border: 1px solid #000;
}
.list-row:nth-of-type(2n+1) {
    background-color: rgb(217, 251, 255);
}
.list-item {
    border: 1px solid #000;
}
.result-user-by-id,
.result-new-user,
.result-remove-user,
.result-update {
    margin: 15px 0;
    width: 30%;
}
.user-id-list {
    list-style: none;
    padding: 0;
}
.user-id-list-item {
    padding: 15px 0;
}
.bold {
    font-weight: 900;
}
.visible {
    display: block;
}